:root {
  --blue: #007bff;
  --indigo: #6610f2;
  --purple: #6f42c1;
  --pink: #e83e8c;
  --red: #dc3545;
  --orange: #fd7e14;
  --yellow: #ffc107;
  --green: #28a745;
  --teal: #20c997;
  --cyan: #17a2b8;
  --white: #fff;
  --gray: #6c757d;
  --gray-dark: #343a40;
  --primary: #007bff;
  --secondary: #6c757d;
  --light-green: #53d769;
  --info: #17a2b8;
  --warning: #ffc107;
  --bright-red: #fc3d39;
  --light: #f8f9fa;
  --dark: #343a40;
  --black: #000000;
  --default-font-size: 1.6rem;
  --mid-font-size: 2rem;
  --breakpoint-xs: 0;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
  --imgWidth: 0;
  --imgHeight: 0; }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  scroll-behavior: smooth; }

body {
  box-sizing: border-box;
  font-family: Raleway; }

a {
  text-decoration: none;
  cursor: pointer;
  color: unset; }

.paragraph {
  color: #262626;
  font-size: 1.7rem;
  font-weight: 400;
  line-height: 2.7rem; }
  .paragraph--hero {
    font-weight: 500; }
  .paragraph--white {
    font-weight: 300;
    color: #fff; }
  .paragraph--grey {
    font-weight: 300;
    font-size: 1.6rem; }
  .paragraph--big {
    font-size: 2rem;
    font-weight: 400; }

h1 {
  text-transform: capitalize; }

.section-title {
  font-size: 9rem;
  font-weight: 900;
  font-family: "Raleway", sans-serif; }
  .section-title--white {
    color: #fff; }
  .section-title--small {
    font-size: 3rem; }

.u-center-text {
  text-align: center !important; }

.u-m-top-bottom-mid {
  margin-top: 2rem !important;
  margin-bottom: 2rem !important; }

.u-box-center {
  margin: 0 auto; }

.u-m-top-big {
  margin-top: 15rem !important; }
  @media only screen and (max-width: 37.5em) {
    .u-m-top-big {
      margin-top: 5rem !important; } }

.u-m-top-small {
  margin-top: 1.5rem !important; }

.u-m-top-mid {
  margin-top: 3rem !important; }
  @media only screen and (max-width: 37.5em) {
    .u-m-top-mid {
      margin-top: 2rem !important; } }

.u-mb-m {
  margin-bottom: 3rem !important; }

.u-mb-sm {
  margin-bottom: 1rem !important; }

.u-text--white {
  color: var(--white) !important; }

.hidden {
  opacity: 0; }

.btn {
  display: inline-block;
  color: #fff;
  font-family: Raleway;
  font-size: 20px;
  font-weight: 300;
  line-height: 27px;
  text-transform: uppercase;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
  padding: 2rem 2.5rem; }
  .btn--orange {
    background-color: #ff6033; }

.nav {
  position: fixed;
  width: 100%;
  padding-top: 3rem;
  z-index: 1000;
  padding: 0 1rem 0 1rem; }
  .nav__container {
    max-width: 1170px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center; }
  .nav__brand {
    color: #262626;
    font-family: Pacifico;
    font-size: 50px;
    font-weight: 400; }
  .nav__list {
    display: flex;
    list-style: none;
    justify-content: space-between; }
  .nav__item {
    color: #262626;
    font-family: Raleway;
    font-size: 16px;
    font-weight: 700;
    line-height: 25px;
    text-transform: uppercase; }
    .nav__item:not(:last-child) {
      margin-right: 3.75rem; }
    .nav__item--active {
      border-top: 3px #ff6033 solid; }

.container {
  padding: 0 1rem 0 1rem;
  max-width: 1170px;
  margin: 0 auto; }
  @media only screen and (min-width: tab-land) {
    .container {
      padding: 0; } }

.hero {
  width: 100%;
  background-image: url("/../assets/img/header.png");
  background-repeat: no-repeat;
  background-position: top;
  height: 100vh;
  position: relative; }
  @media only screen and (min-width: 80em) {
    .hero {
      background-position: 0% 35%;
      background-size: cover; } }
  .hero__container {
    position: absolute;
    max-width: 370px;
    top: 50%;
    left: 20%;
    transform: translateY(-50%); }
  .hero__title {
    color: #262626;
    font-family: "Raleway";
    font-size: 6rem;
    font-weight: bolder; }
  .hero__btn {
    margin-top: 3rem; }
  .hero__scroll {
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%); }

.about {
  width: 100%;
  padding: 5rem;
  background-image: radial-gradient(circle 1125px at center, rgba(0, 196, 196, 0.9) 0%, rgba(0, 183, 183, 0.9) 32%, rgba(0, 173, 173, 0.9) 68%, rgba(0, 156, 156, 0.9) 100%); }
  .about__container {
    display: flex;
    align-items: center;
    justify-content: space-between; }
  .about__img {
    max-width: 560px; }
  .about__text-box {
    max-width: 500px; }
