.hero {
  position: relative;
  width: 100%;
  background-image: url("./../assets/img/header.png");
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  height: 100vh;

  @include respond(phone) {
    background-position: 30% -0%;
  }
  &__container {
    position: absolute;
    top: 50%;
    left: 200px;
    transform: translateY(-50%);
    @include respond(tab-land) {
      left: 50px;
    }
  }

  &__title {
    color: $color-black;
    font-family: "Raleway";
    font-size: 6rem;
    font-weight: bolder;
    @include respond(phone) {
      font-size: 4rem;
    }
  }

  &__text {
    max-width: 500px;
    @include respond(tab-land) {
      max-width: 350px;
    }

    @include respond(phone) {
    }
  }

  &__btn {
    margin-top: 3rem;
  }

  &__scroll {
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
  }
}
