.hero {
  width: 100%;
  background-image: url("/../assets/img/header.png");
  background-repeat: no-repeat;
  background-position: top;

  height: 100vh;
  position: relative;

  @media only screen and (min-width: 80em) {
    background-position: 0% 35%;
    background-size: cover;
  }
  &__container {
    position: absolute;
    max-width: 370px;
    top: 50%;
    left: 20%;
    transform: translateY(-50%);
  }

  &__title {
    color: $color-black;
    font-family: "Raleway";
    font-size: 6rem;
    font-weight: bolder;
  }

  &__text {
  }

  &__btn {
    margin-top: 3rem;
  }

  &__scroll {
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
  }
}
