.subscribe {
  background-image: url("../assets/img/subscribe.png");

  &__container {
    @include respond(tab-land) {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
  &__text-box {
    max-width: 570px;
    margin-bottom: 1rem;
    @include respond(tab-land) {
      text-align: center;
    }
  }

  &__form {
    display: flex;
    @include respond(tab-land) {
      flex-direction: column;
      align-items: center;
    }
  }

  &__input {
    width: 570px;
    height: 55px;
    padding: 15px;
    font-size: 1.5rem;
    display: inline-block;
    margin-right: 1.5rem;
    margin-bottom: 1rem;

    @include respond(phone) {
      width: 100%;
    }

    &:focus {
      border: 1px solid $color-green;
    }

    &::placeholder {
      color: $color-grey;
      font-family: inherit;
    }
  }

  &__btn {
    width: 155px;
    height: 55px;
  }
}
