.container {
  padding: 10rem 0;
  display: block;
  max-width: 1170px;
  margin: 0 auto;

  @include respond(tab-land) {
    padding: 6rem 0;
  }
  @include respond(phone) {
    padding: 2rem 0;
  }
}
