.nav {
  width: 100%;
  padding-top: 3rem;
  z-index: 100;
  padding: 0 1rem 0 1rem;
  position: fixed;
  background: transparent;
  transition: all 0.3s;
  font-size: 50px;

  &--scrolled {
    background: $color-white;
    font-size: 40px;
  }

  &__container {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__brand {
    color: $color-black;
    font-family: Pacifico;
    font-size: inherit;
    font-weight: 400;
  }

  &__list {
    display: flex;
    list-style: none;
    justify-content: space-between;
    @include respond(tab-port) {
      z-index: -1;
      flex-direction: column;
      position: absolute;
      text-align: center;
      width: 100vw;
      top: 0;
      left: 0;
      padding-top: 75px;
      background: white;
      display: none;
      opacity: 0;
      transition: all 0.3s;
    }
    &--active {
      display: block;
      opacity: 1;
    }
  }

  &__item {
    color: $color-black;
    font-family: Raleway;
    font-size: 16px;
    font-weight: 700;
    line-height: 25px;
    text-transform: uppercase;
    transition: all 0.5s;

    &:not(:last-child) {
      margin-right: 3.75rem;

      @include respond(tab-port) {
        margin-right: 0;
      }
    }

    &--active {
      border-top: 3px solid $color-orange;
      @include respond(tab-port) {
        border-top: none;
      }
    }
  }
  &__link {
    @include respond(tab-port) {
      padding: 8px 20px;
    }
  }
  &-mobile__button {
    display: none;
    width: 30px;
    height: 15px;
    border: none;
    border-top: 2px solid $color-black;
    border-bottom: 2px solid $color-black;
    background-color: transparent;
    outline: none;
    transition: 0.1s;

    @include respond(tab-port) {
      display: block;
    }
    &:active {
      transform: scale(1.3);
    }
  }
}
