.btn {
  position: relative;
  display: inline-block;
  color: $color-white;
  font-family: Raleway;
  font-size: 20px;
  font-weight: 300;

  text-transform: uppercase;
  border: none;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
  padding: 2rem 2.5rem;
  transition: all 0.1s;
  cursor: pointer;

  &:before {
    content: "";
    position: absolute;
    bottom: 2.1rem;
    left: 2.5rem;
    width: 0;
    height: 2px;
    background-color: $color-white;
    transition: all 0.3s;
  }

  &:active {
    transform: scale(0.9);
  }

  &:visited,
  &:link {
    outline: none;
  }

  &:hover {
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.5);
  }
  &:hover::before {
    width: calc(100% - 5rem);
  }
  &--orange {
    background-color: $color-orange;
  }

  &--green {
    background-color: $color-green;
  }

  &--red {
    background-color: $color-red;
  }

  &--turquoise {
    background-color: $color-turquoise;
    opacity: 0.8;

    &:hover {
      opacity: 1;
    }
  }
}
