.paragraph {
  color: $color-black;
  font-size: 1.7rem;
  font-weight: 400;
  line-height: 2.7rem;

  &--hero {
    font-weight: 500;
  }

  &--white {
    font-weight: 300;
    color: $color-white;
  }

  &--grey {
    color: $color-grey-light;
    font-weight: 300;
    font-size: 1.6rem;
  }

  &--big {
    font-size: 2rem;
    font-weight: 400;
  }
}

h1 {
  text-transform: capitalize;
}

.section-title {
  font-size: 9rem;
  font-weight: 900;
  font-family: "Raleway" sans-serif;

  @include respond(phone) {
    font-size: 5rem;
  }

  &--white {
    color: $color-white;
  }

  &--small {
    font-size: 3rem;
  }
}
