// COLORS
$color-white: #ffffff;
$color-black: #262626;
$color-orange: #ff6033;
$color-turquoise: #00c4c4;
$color-blue: #70bfff;
$color-grey: #9d9d9d;
$color-grey-light: #b9b9b9;
$color-yellow: #ffe92f;
$color-green: #96b92c;
$color-purple: #b07cf7;
$color-red: #f72b3b;
// FONT
$default-font-size: 1.6rem;

// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;
:root {
  --blue: #007bff;
  --indigo: #6610f2;
  --purple: #6f42c1;
  --pink: #e83e8c;
  --red: #dc3545;
  --orange: #fd7e14;
  --yellow: #ffc107;
  --green: #28a745;
  --teal: #20c997;
  --cyan: #17a2b8;
  --white: #fff;
  --gray: #6c757d;
  --gray-dark: #343a40;
  --primary: #007bff;
  --secondary: #6c757d;
  --light-green: #53d769;
  --info: #17a2b8;
  --warning: #ffc107;
  --bright-red: #fc3d39;
  --light: #f8f9fa;
  --dark: #343a40;
  --black: #000000;
  --default-font-size: 1.6rem;
  --mid-font-size: 2rem;

  --breakpoint-xs: 0;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;

  --imgWidth: 0;
  --imgHeight: 0;
}
